#login{
	display: grid;
	width: 50%;
	margin: auto;
	float: left;
}

.formular{
	margin: auto;
	margin-top: 2.5%;
	background: green;
	border: 1px solid orange;
	width: 50%;
	display: flex;
}

.formular a{
	float: right;
	margin: auto;
	text-decoration: none;
	color: black;
}

h2{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: orange;
	text-align: center;
}

.moment{
	background-image: url("../imagini/poze/background.jpg");
	background-size: 100% 100%;
	margin-bottom: 5%;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.popular{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
	border: 1px solid orange;
}

blockquote{
	text-align: center;
	font-size: 1.5em;
	color: orange;
	background: green;
	margin-top: 5%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

.des{
	display: flex;
	border: 5px solid orange;
}

.descriere{
	margin: auto;
	float: left;
	width: 50%;
}

.descriere p{
	text-align: center;
	font-size: 1.25em;
	color: white;
}

b{
	font-weight: normal;
}

.audienta{
	display: block;
	margin: auto;
	float:right;
	height: 100%;
	width: 50%;
}