h2{
	font-size: 1.5em;
}

.contact{
	border: 1px solid orange;
	width: 50%;
	float: left;
}

.contact > ol{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.informatii{
	border: 1px solid orange;
	width: 50%;
}

.informatii > ul{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.final{
	display: flex;
	margin-top: 5%;
	color: white;
}

footer p{
	color: white;
	text-align: center;
}