main{
	background-image: url("../imagini/poze/background.jpg");
	background-size: 100% 100%;
	display: grid;
}

select, input{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.range, .text, .radio, .buton{
	text-align: center;
}

.range, .selector, .text, .radio, .buton{
	background: green;
	border: 2px solid orange;
	padding-bottom: 2.5%;
}

#buton{
	margin-top: 2.5%;
}