body{
	background-color: black;
}

header{
	border: 2px solid orange;
	border-top: 0px;
	padding-bottom: 2%;
	margin-bottom: 2%;
}

h1{
	text-align: center;
	background-color: orange;
}

li a, h1 a{
	color:black;
	text-decoration: none;
}

.meniu{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sub-meniu{
	position: relative;
	display: inline-block;
}

.meniu-continut{
	display: none;
	position: absolute;
	width: 100%;
}

.sub-meniu:hover .meniu-continut, .sub-meniu:focus .meniu-continut{
	display: block;
}

ul.meniu > li{
	float: left;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
li p{
	font-size: 30px;
	color: orange;
	display: block;
	padding: 10px;
}

li a{
	font-size: 25px;
	display: block;
	margin-bottom: 10%;
	background-color: goldenrod;
	text-align: center;
}

li a:hover, li p:hover{
	color: white;
}