<div class="final">
	<section class ="contact">
		<h2>Date de contact</h2>
		<address>
			<ol>
				<li>Email: suport@cinemacave.ro</li>
				<li>Telefon-bilete: XXXXXXXXXX</li>
				<li>Telefon-corporate: XXXXXXXXXX</li>
			</ol>
		</address>
	</section>
	<section class ="informatii">
		<h2>Informatii</h2>
		<ul>
			<li>Termeni si conditii</li>
			<li><abbr title="Agentia Nationala de Protectie a Consumatorului">ANPC</abbr></li>
		</ul>
	</section>
</div>
<p>Toate drepurile sunt rezervate Cinema Cave 2019 ©</p>