<div id="titlu">
	<h1>
		<a href="/">Cinema Cave</a>
	</h1>
	<img id="camera" src="../../imagini/poze/camera.png">
</div>

<ul class="meniu">
	<li class ="sub-meniu">
		<p class="drop">Vezi un film</p>
		<div class="meniu-continut">
			<a href="/program">Program</a>
			<a href="/filme">Lista filme</a>
		</div>
	</li>
	<% if(locals.user){ %>
		<li id="logat" class="sub-meniu">
			<p class="drop">Buna: <%= user.username %></p>
			<div class="meniu-continut">
				<a href="/logout">Logout</a>
			</div>
		</li>
	<% } %>
	<li class ="sub-meniu">
		<p class="drop">Bilete</p>
		<div class="meniu-continut">
			<a href="/bilete">Rezerva acum</a>
			<a href="/promotii">Promotii</a>
		</div>
	</li>
</ul>