
<h1><a href="/">Cinema Cave</a></h1>
<ul class="meniu">
	<li class ="sub-meniu">
		<p class="drop">Vezi un film</p>
		<div class="meniu-continut">
			<a href="/program">Program</a>
			<a href="/filme">Lista filme</a>
		</div>
	</li>
	<li class ="sub-meniu">
		<p class="drop">Bilete</p>
		<div class="meniu-continut">
			<a>Rezerva acum</a>
			<a href="/promotii">Promotii</a>
		</div>
	</li>
</ul>