<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Inregistrare Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, Inregistrare">
		<meta name = "description" content = "Un nou lant de cinema a aparut in Romania. Cinema Cave vine cu o oferta fantastica: 
                cele mai noi tehnologii din lumea filmului completeaza salile 2D, 3D, true IMAX sau VIP">
        <link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
        <link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
        <link type="text/css" rel="stylesheet" href="../css/stil-404.css"/>
        <script src="../script/script-404.js"></script>
    </head>
    <body>
        <header>
			<% include ../fragmente/header %>
        </header>
        <main>
            <div class="d404">
                <h2>Cum ai ajuns aici?</h2>
                <button id="buton">Mergi la pagina principala</button>
            </div>
        </main>
        <footer>
			<% include ../fragmente/footer %>
		</footer>
    </body>
</html>