<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Rezerva acum bilete la film - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Bilete, Rezervare">
		<meta name = "description" content = "Acum poti cumpara bilete sau rezerva bilete online pentru filmul tau preferat">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-bilete.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
		<script src="../script/script-header.js"></script>
		<script src="../script/script-bilete.js"></script>
	</head>
	<body>
		<header>
			<% include ../fragmente/header %>
		</header>
		<main>
		</main>
		<footer>
			<% include ../fragmente/footer %>
		</footer>
	</body>
</html>