<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Lista celor mai noi filme - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Lista, 2D">
		<meta name = "description" content = "Cinema Cave va prezinta lista celor mai noi filme pe care le poti vedea acum.">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-filme.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-filme-650.css" media="screen and (max-width:650px)"/>
		<script type="text/javascript" src="../script/script-header.js"></script>
		<script type="text/javascript" src="../script/script-filme.js"></script>
	</head>
		<body>
			<header>
				<% include ../fragmente/header %>
			</header>
			<main>
				<div>
					<div class="butoane">
						<h2 id="acum">Ruleaza acum</h2>
						<h2 id="viitor">In curand</h2>
					</div>
					<div class="container" id="container-acum">
						<div class="film" id="popular">
							<iframe src="https://www.youtube.com/embed/ZlW9yhUKlkQ"></iframe>
							<table>
								<caption>Zombieland: Double Tap</caption>
								<tr>
									<th>Gen</th>
									<td>Actiune, Comedie, Horror</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>1h 39min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Emma Stone, Abigail Breslin, Bill Murray</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Ruben Fleischer</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Nerecomandat copiilor sub 15 ani</td>
								</tr>
							</table>
						</div>
						<div class="film">
							<iframe src="https://www.youtube.com/embed/zAGVQLHvwOY"></iframe>
							<table>
								<caption>Joker</caption>
								<tr>
									<th>Gen</th>
									<td>Crima, Drama, Thriller</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>2h 2min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Joaquin Phoenix, Robert De Niro, Zazie Beetz</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Todd Phillips</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Nerecomandat copiilor sub 15 ani</td>
								</tr>
							</table>
						</div>
						<div class="film">
							<iframe src="https://www.youtube.com/embed/BOzFZxB-8cw"></iframe>
							<table>
								<caption>Doctor Sleep</caption>
								<tr>
									<th>Gen</th>
									<td>Thriller, Horror</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>2h 31min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Rebbeca Ferguson, Ewan McGregor, Jacob Tremblay</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Mike Flanagan</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>IM-18</td>
								</tr>
							</table>
						</div>
						<div class="film">
							<iframe src="https://www.youtube.com/embed/AbyJignbSj0"></iframe>
							<table>
								<caption>Gemini Man</caption>
								<tr>
									<th>Gen</th>
									<td>Actiune, Drama, Fictiune</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>1h 56min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Will Smith, Mary Elizabeth Winstead, Clive Owen</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Ang Lee</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Acord parental pentru copiii sub 12ani.</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="container" id="container-viitor">
						<div class="film">
							<iframe src="https://www.youtube.com/embed/8Qn_spdM5Zg"></iframe>
							<table>
								<caption>Star Wars: The Rise of Skywalker</caption>
								<tr>
									<th>Gen</th>
									<td>Actiune, Aventura, Fantastic</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>2h 35min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Billie Lourd, Oscar Isaac, Daisy Ridley</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>J.J. Abrams</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Acord parental pentru copiii sub 12ani.</</td>
								</tr>
							</table>
						</div>
					<div class="film">
							<iframe src="https://www.youtube.com/embed/bwzLiQZDw2I"></iframe>
							<table>
								<caption>Frozen II</caption>
								<tr>
									<th>Gen</th>
									<td>Aventura, Animatie, Comedie</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>1h 45min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Jason Ritter, Kristen Bell, Jonathan Groff</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Chris Buck, Jennifer Lee</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>AG</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</main>
		</body>
		<footer>
			<% include ../fragmente/footer %>
		</footer>
</html>