<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Lista celor mai noi filme - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Lista, 2D">
		<meta name = "description" content = "Cinema Cave va prezinta lista celor mai noi filme pe care le poti vedea acum.">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-filme.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-filme-650.css" media="screen and (max-width:650px)"/>
		<script src="../script/script-filme.js"></script>
	</head>
		<body>
			<header>
				<% include ../fragmente/header %>
			</header>
			<main>
				<div class="butoane">
					<h2 id="acum">Ruleaza acum</h2>
					<h2 id="viitor">In curand</h2>
					<div class="checkboxuri">
						<h3>Alege genuri de film</h3>
						<div class="container-checkbox">
							<label>Drama
								<input type="checkbox" checked="checked" id="Drama">
							</label>
							<label>Thriller
								<input type="checkbox" checked="checked" id="Thriller">
							</label>
							<label>Actiune
								<input type="checkbox" checked="checked" id="Actiune">
							</label>
							<label>Comedie
								<input type="checkbox" checked="checked" id="Comedie">
							</label>
						</div>
					</div>
				</div>
				<% if(locals.filme) { %>
					<% var i; %>
					<div class="container" id="container-acum">
						<% for(i = 0; i < 4; i++) { %>
							<%- include('../fragmente/template_filme.ejs', {film: filme.filme[i]}); %>
						<% } %>
					</div>
					<div class="container" id="container-viitor">
						<% for(i = 4; i < 6; i++) { %>
							<%- include('../fragmente/template_filme.ejs', {film: filme.filme[i]}); %>
						<% } %>
					</div>
				<% } %>
			</main>
			<footer>
				<% include ../fragmente/footer %>
			</footer>
		</body>
</html>