<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Lista celor mai noi filme - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Lista, 2D">
		<meta name = "description" content = "Cinema Cave va prezinta lista celor mai noi filme pe care le poti vedea acum.">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-filme.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
	</head>
		<body>
			<header>
				<% include ../fragmente/header %>
			</header>
			<main>
				<section>
					<h2>Ruleaza acum</h2>
					<div class="container">
						<div class="film" id="popular">
							<iframe src="https://www.youtube.com/embed/ZlW9yhUKlkQ"></iframe>
							<table>
								<caption>Zombieland: Double Tap</caption>
								<tr>
									<th>Gen</th>
									<td>Actiune, Comedie, Horror</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>1h 39min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Emma Stone, Abigail Breslin, Bill Murray</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Ruben Fleischer</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Nerecomandat copiilor sub 15 ani</td>
								</tr>
							</table>
						</div>
						<div class="film">
							<iframe src="https://www.youtube.com/embed/zAGVQLHvwOY"></iframe>
							<table>
								<caption>Joker</caption>
								<tr>
									<th>Gen</th>
									<td>Crima, Drama, Thriller</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>2h 2min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Joaquin Phoenix, Robert De Niro, Zazie Beetz</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Todd Phillips</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Nerecomandat copiilor sub 15 ani</td>
								</tr>
							</table>
						</div>
						<div class="film">
							<iframe src="https://www.youtube.com/embed/ZlW9yhUKlkQ"></iframe>
							<table>
								<caption>Zombieland: Double Tap</caption>
								<tr>
									<th>Gen</th>
									<td>Actiune, Comedie, Horror</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>1h 39min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Emma Stone, Abigail Breslin, Bill Murray</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Ruben Fleischer</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Nerecomandat copiilor sub 15 ani</td>
								</tr>
							</table>
						</div>
						<div class="film">
							<iframe src="https://www.youtube.com/embed/ZlW9yhUKlkQ"></iframe>
							<table>
								<caption>Zombieland: Double Tap</caption>
								<tr>
									<th>Gen</th>
									<td>Actiune, Comedie, Horror</td>
								</tr>
								<tr>
									<th>Durata</th>
									<td>1h 39min</td>
								</tr>
								<tr>
									<th>Distributie</th>
									<td>Emma Stone, Abigail Breslin, Bill Murray</td>
								</tr>
								<tr>
									<th>Regizor</th>
									<td>Ruben Fleischer</td>
								</tr>
								<tr>
									<th>Clasificare</th>
									<td>Nerecomandat copiilor sub 15 ani</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</main>
		</body>
		<footer>
			<% include ../fragmente/footer %>
		</footer>
</html>