<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Cele mai noi filme - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Bilete, Promotii">
		<meta name = "description" content = "Un nou lant de cinema a aparut in Romania. Cinema Cave vine cu o oferta fantastica: 
				cele mai noi tehnologii din lumea filmului completeaza salile 2D, 3D, true IMAX sau VIP">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-main.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-main-600.css" media="screen and (max-width:600px)"/>
		<script type="text/javascript" src="../script/script-header.js"></script>
	</head>
	<body ontouchstart="">
		<header>
			<% include ../fragmente/header %>
		</header>
		<main>
			<section class="moment">
				<h2>Filmul momentului</h2>
				<a href="/filme#popular">
					<img src="../imagini/postere/popular.jpg" class="popular" alt="Film popular" title="Cel mai in voga film">
				</a>	
			</section>
			<section class="des">
				<div class="descriere">
					<h2>Cel mai bun mod de a vedea filme</h2>
					<p>Cu 4 noi sali de cinema, <b>Cinema Cave</b> vrea sa transforme modul in care un film este vizionat.</p>
					<p>Cu ajutorul noilor tehnologii orice film este o experienta unica, fie el <b>2D, 3D sau IMAX.</b></p>
					<p>Daca vrei un rasfat adevarat salile noastre <b>VIP</b> iti stau la dispozitie.</p>
				</div>
				<img src="../imagini/poze/audienta.jpeg" class="audienta" alt="Audienta la film" title="Clienti bucurosi">
			</section>
		</main>
		<footer>
			<% include ../fragmente/footer %>
		</footer>
	</body>
</html>