<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Programul celor mai noi filme - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Program">
		<meta name = "description" content = "Va prezentam programul cinemaurilor Cinema Cave">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-program.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-program-650.css" media="screen and (max-width:650px)"/>
		<script src="../script/script-header.js"></script>
	</head>
	<body>
		<header>
			<% include ../fragmente/header %>
		</header>
		<main>
			<div class="cinema">
				<h2>Cinema Cave - Bucuresti</h2>
				<div class="program">
					<table>
						<caption>Joker</caption>
						<thead>
							<tr>
								<th>ORA</th>
								<th>FORMAT</th>
								<th>SALA</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>16:40</td>
								<td>IMAX</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
					<table>
						<caption>Zombieland: Double Tap</caption>
						<thead>
							<tr>
								<th>ORA</th>
								<th>FORMAT</th>
								<th>SALA</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>16:40</td>
								<td>IMAX</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
					<table>
						<caption>Doctor Sleep</caption>
						<thead>
							<tr>
								<th>ORA</th>
								<th>FORMAT</th>
								<th>SALA</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>16:40</td>
								<td>IMAX</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
					<table>
						<caption>Gemini Man</caption>
						<thead>
							<tr>
								<th>ORA</th>
								<th>FORMAT</th>
								<th>SALA</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>2D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>12:30</td>
								<td>3D</td>
								<td>1</td>
							</tr>
							<tr>
								<td>16:40</td>
								<td>IMAX</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<footer>
			<% include ../fragmente/footer %>
		</footer>
	</body>
</html>