<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Promotii pentru cele mai bune filme - Cinema Cave</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name = "author" content = "Cinema Cave">
		<meta name = "keywords" content = "Cinema, Filme, 3D, Promotii, Reduceri">
		<meta name = "description" content = "Acum Cinema Cave va aduce periodic diverse promotii: bilete cadou, popcorn pe saturate
											  sau premii de la partenerii nostri.">
		<link rel="shortcut icon" type="image/x-icon" href="../imagini/favicon/favicon.ico"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-promotii.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-header.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-footer.css"/>
		<link type="text/css" rel="stylesheet" href="../css/stil-promotii-650.css" media="screen and (max-width:650px)"/>
	</head>
	<body>
		<header>
			<% include ../fragmente/header %>
		</header>
		<main>
			<div class="promotii">
				<h2>Iarna asta ploua cu promotii</h2>
				<article>
					<h3>Miercuri e ziua filmului</h3>
					<p>La Cinema Cave filmele de miercuri sunt o ocazie de neratat, spectatorii beneficiaza de o
					   reducere fantastica de <del>40%</del> <ins>50%</ins> din pretul biletului.</p>
				</article>
				<article>
					<h3>Imax pentru cei mici</h3>
					<p>In fiecare saptamana Cinema Cave prezinta cate un documentar menit pentru copii intr-una din salile IMAX.
					   Elevii au intararea libera iar parintii beneficiaza de o reducere de 33%.</p>
				</article>
				<article>
					<h3>Vouchere Cadou</h3>
					<p>Nu stii ce sa ii dai unui prieten de ziua lui? De ce sa nu il trimiti la un film?</p>
				</article>
				<article>
					<h3>Iepure</h3>
					<p>Inca o promotie da da dada dada d sd as  s sa sd ds ds asd  ds ds ds ds das ds sd 
					dssadsdasassdas dsadssv cavd aad  sd sdavasds s dksaj ds alds l sallsafslaf slja jfsa lf sla</p>
				</article>
			</div>
		</main>
		<footer>
			<% include ../fragmente/footer %>
		</footer>
	</body>
</html>